* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
.container-home {
  background-color: #ffffffe6;
  height: 31.25rem;
  width: 37.5rem;
}
.title-home {
  font-size: 2.5rem;
  color: #344D67;
  margin: 0rem 0.75rem 0.5rem;
  padding: 2.5rem;
}
.home-items {
  display: flex;
  list-style: none;
  margin-top: 2.5rem;
  text-align: center;
}
.home-items li {
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius:0.375rem ;
  -ms-border-radius:0.375rem ;
  -o-border-radius: 0.375rem;
  margin: 0 0.3125rem;
  color: #6eccaf;
  padding: 0.5625rem 0.9375rem;
  background-color: #344D67;
  margin-right: 2.1875rem;
}
.home-items li:hover {
  background-color: #6eccaf;
  border-color: #6eccaf;
  color: #344D67;
}
.home-items li a {
  padding: 0.5rem;
  text-decoration: none;
  color: #6eccaf;
}
.home-items li a:hover {
  color: #344D67;
}
@media (max-width:768px) {
  .home-items  {
    flex-direction: column;
    margin-top: 0.625rem;
  }
  .home-items li {
    margin-top: 1.25rem;
  }
  .home-items li a {
    color: #6eccaf;
  }
  .home-items li a:hover {
    color: #344D67;
  }
  .container-home {
    height: 25rem;
    width: 25rem;
  }
  .title-home {
    font-size: 1.5625rem;
  }
}
