* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
.container-home {
  background-color: #ffffffe6;
  height: 500px;
  width: 600px;
}
.title-home {
  font-size: 40px;
  color: #344D67;
  margin: 0px 12px 8px;
  padding: 40px;
  /* text-align: center; */
}
.home-items {
  display: flex;
  list-style: none;
  margin-top: 40px;
  text-align: center;
}
.home-items li {
  /* align-items: center; */
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  margin: 0 5px;
  color: #6eccaf;
  padding: 9px 15px;
  background-color: #344D67;
  margin-right: 35px;
}
.home-items li:hover {
  background-color: #6eccaf;
  border-color: #6eccaf;
  color: #344D67;
}
.home-items li a {
  padding: 8px;
  text-decoration: none;
  color: #6eccaf;
}
.home-items li a:hover {
  color: #344D67;
}
@media (max-width:768px) {
  .home-items  {
    flex-direction: column;
    margin-top: 10px;
  }
  .home-items li {
    margin-top: 20px;
  }
  .home-items li a {
    color: #6eccaf;
  }
  .home-items li a:hover {
    color: #344D67;
  }
  .container-home {
    height: 400px;
    width: 400px;
  }
  .title-home {
    font-size: 25px;
  }
}
