* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
.main-contact-div {
  background-color: #5c7592e6;
  padding: 1.25rem;
}
.main-contact-div h2 {
  color: #223142;
  font-size: 1.75rem;
  margin: 0rem -0.75rem 0.5rem;
  padding: 2.5rem;
}
.main-contact-div h3 {
  color: #223142;
  font-size: 1.5625rem;
  margin: 0rem 0.75rem 0.5rem;
}
div.col-md-6 {
  color: #223142;
  font-size: 1rem;
  margin: 1rem 0rem 0rem;
  padding: 0rem 0.5rem;
}
div.col-12 button {
  color: #f5f5f5;
  font-size: 1rem;
  background-color: #344d67;
  padding: 0.375rem 0.75rem;
  border-color: #223142;
}
div.col-12 button:hover {
  background-color: #6eccaf;
  color: #223142;
  border-color: #6eccaf;
}
@media (max-width:768px) {
  .main-contact-div h3 {
    text-align: center;
  }
}