* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
.menu {
  background-color: #344d67;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}
.menu h1 {
  margin: 0rem 1rem;
  padding: 0.3125rem 0rem;
  color: #6eccaf;
  font-size: 1.25rem;
}
.menu_items {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 1.875rem;
}
.menu_items li {
  border-radius: 0.1875rem;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  -ms-border-radius: 0.1875rem;
  -o-border-radius: 0.1875rem;
  margin: 0rem 0.3125rem;
  color: #6eccaf;
  padding: 0.4375rem 0.8125rem;
}
.menu_items li a {
  padding: 0.5rem;
  text-decoration: none;
  display: block;
  color: #6eccaf;
}
.menu_items li a:hover {
  color: #344d67;
}
.menu_items li:hover {
  background-color: #6eccaf;
  color: #344d67;
}
a.nav-link.btn-active {
  color: #344d67;
  background-color: #6eccaf;
  border-radius: 0.1875rem;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  -ms-border-radius: 0.1875rem;
  -o-border-radius: 0.1875rem;
}
.nav-link {
  display: block;
  transition: .15s ease-in-out;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -ms-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
}
@media (max-width:768px){
  .menu {
    flex-direction: row;
    padding: 0.625rem;
  }
  .menu_items {
    flex-direction: column;
    text-align: center;
    margin-top: 1.25rem;
  }
  .menu li {
    padding: 0.25rem;
    margin: 0.1875rem 0rem;
  }
  .menu_items li a {
    padding: 0.25rem;
  }
}