* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
.section-filters {
  margin-top: -2.5rem;
}
.filters-title {
  color: #6eccaf;
  font-size: 2.375rem;
  margin: 0.625rem 1.25rem 0.5rem;
  padding: 0.3125rem 2.1875rem;
}
label.form-check-label {
  color: #6eccaf;
  font-size: 1rem;
}
input.form-check-input {
  background-color: #b1f0dc;
  margin: 0.25rem 0rem 0rem -2.5rem;
}
.form-check.form-switch {
  background-color: #344d67;
  color: #6eccaf;
  font-size: 1rem;
  margin: 0rem 0rem 0.125rem;
  padding: 0.5rem 3rem;
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
}
.form-check-input:checked {
  background-color: #223142;
  border-color: #223142;
}
@media (max-width:768px) {
  .filters-title {
    color: #6eccaf;
    font-size: 1.75rem;
  }
  .section-filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  div.form-check.form-switch {
    margin: 0.3125rem 0.5rem;
  }
}
@media (max-width:576px) {
  .section-filters {
    flex-direction: column;
    display: block;
    justify-content: center;
    align-items: center;
    
  } 
}
